.headercolor{
    background-color: #e77a77;
    height: 1em;
    width: 98vw;
    color: #fafbe3;
    font-size: 50px;
    padding: 15px;
}
.h1header{
    color: #fafbe3;
    font-size: xx-large;
}

.body{
    background-color: #cdcfb7;
}
.box{
    height: 35vw;
    width: 100vw;
}
.boxbox{
    background-color: #e9ffe1;
    height: 31em;
    width: 90em;
    margin-top: 20px;
    margin-left: 20px;
    border-style: groove;
    border-color: burlywood;
    border-width: 3px;
}
.botaopai{
    background-color: red;
    padding: 1px;

}
.button{
    height: 5em;
    width: 10vw;
}
.footercolor{
    background-color:#e77a77;
    height: 5em;
    width: 98vw;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 0.58em;
}

.texto{
    height: 5em;
    width: 90vw;
    resize: none;
}
.mensagem{
    display: flex;
    flex-direction: column;
    justify-content: right;
}